ul {
  padding-left: 0.7rem;
  min-width: 12rem;
  max-width: 29rem;
  width: 80vw;
}

li {
  text-decoration: none;
  list-style: none;
}

.divider {
  border-style: dashed;
  border-color: lightgray;
}

.date {
  color: gray;
  margin-bottom: 0.7rem;
  margin-top: 0.5rem;
}

.reservation-title {
  margin-bottom: 0;
}

.single-reservation {
  display: grid;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 54rem) {
  .reservation {
    grid-template-columns: 1fr 1fr max-content;
    grid-column-gap: 5rem;
    align-items: center;
    justify-items: left;
  }

  ul {
    width: 43rem;
    min-width: none;
    max-width: none;
  }
}
