.reservation {
  margin-bottom: 0.7rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px dashed #ccc;
}

.reservation-date {
  color: gray;
  margin-bottom: 1.4rem;
  margin-top: 0.5rem;
}

.restaurant-name {
  margin-bottom: 1.2rem;
}

.party-size {
  margin-bottom: 2rem;
}

.reservation-details {
  min-width: 12.5rem;
  max-width: 29rem;
  width: 80vw;
}

@media only screen and (min-width: 54rem) {
  .reservation {
    padding-bottom: 1.5rem;
  }
  .reservation-details {
    min-width: 12.5rem;
    max-width: 48rem;
    width: 80vw;
  }
}
